@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* -> variables root  ***************************************/
:root {
    /* aplica tambien para el boton desencriptar en ver tablet y movil*/
    --color-blanco-fondo: #F3F5FC;
    --color-blanco-puro: #FFFFFF;
    /*aplica tambien para el color de letra del boton desencriptar -- desktop*/
    --color-azul-boton-enc: rgb(10, 56, 113);
    --color-azul-boton-des: #D8DFE8;
    --color-azul-letra-des: #D8DFE8;
    --color-grisOscuro-letra: #343A40;
    --color-grisClaro-letra: #495057;
    --font-inter: 'Inter', sans-serif;

}

/* ->Basic Reset @inglaph *********************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

/*lap : hago que las imagenes sean responsivas*/
img {
    max-width: 100%;
    height: auto;
}

/* <- Basic Reset  ******************************************/



/* -> 1 page styles  movil  *************************************/
/* -> main ***************************************/
main {
    background: var(--color-blanco-fondo);
    width: 91.47%;
    padding: 24px 16px 32px 16px;
    /* height: 91.8vh; */
    height: 90%;
}

.container {
    height: 100%;
    /* background: greenyellow; */
}

.in-text {
    height: 65%;
    /* background: rgb(22, 109, 112); */

}

.in-text__logo {
    height: 10%;
    width: 44.5px;
}

.in-text__logo img {
    width: 100%;
}

.in-text form {
    height: 87%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-container {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    text-align: right;
    z-index: 1;
}

.icon-paste {
    cursor: pointer;
    width: 50px;
    height: 100%;
}

.icon-paste--disabled {
    display: none;
}

.icon-paste--enabled {
    display: inline-block;
}

.in-text__textarea {
    background: var(--color-blanco-fondo);
    border: none;
    width: 100%;
    height: 50%;
    padding: 40px 0;
    font-size: 32px;
    font-family: var(--font-inter);
    color: var(--color-azul-boton-enc);
    resize: none;
}

.in-text__textarea:focus {
    outline: none;
}

.in-text__textarea::placeholder {
    color: var(--color-azul-boton-enc);
    font-size: 32px;
    font-family: var(--font-inter);
}

.in-text__controls {
    /* background: yellow; */
}

.controls-rules {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.controls-rules__icon {
    width: 16px;
    height: 16px;
}

.controls-rules__msj {
    padding-left: 8px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.controls-btns {
    width: 100%;

}

.controls-btns__btn {
    width: 99%;
    height: 65px;
    background: var(--color-azul-boton-enc);
    color: var(--color-blanco-puro);
    font-size: 1.9rem;
    border-radius: 20px;
    border: none;
}

.controls-btns__btn--decrypt,
.controls-btns__btn--copy {
    margin-top: 24px;
    background-color: var(--color-blanco-fondo);
    /* background: var(--color-azul-boton-des); */
    color: var(--color-azul-boton-enc);
    border: 1px solid var(--color-azul-boton-enc);
}

.out-text {
    margin-top: 40px;
    height: 30%;
    /* background: rgb(22, 109, 112); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.out-text__result {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow:
        0px 100px 80px rgb(0, 0, 0, 7%),
        0px 64.81px 48.85px rgb(0, 0, 0, 5.31%),
        0px 38.52px 25.48px rgb(0, 0, 0, 4.25%),
        0px 20px 13px rgb(0, 0, 0, 3.5%),
        0px 8.15px 6.52px rgb(0, 0, 0, 2.75%),
        0px 1.85px 3.15px rgb(0, 0, 0, 1.69%);
}

.img-diamond {
    width: 80%;
    margin: 0 auto;
    display: none;
}

.controls-btns__btn--copy {
    /* display: none; */
    margin: 32px;
    width: 81.34%;

}

.letter-w {
    display: block;
    font-weight: bold;
    font-size: 2.9rem;
    color: var(--color-grisOscuro-letra);
    margin-bottom: 16px;
}

.letter-l {
    display: block;
    font-size: 2.1 rem;
    color: var(--color-grisClaro-letra);
}



.result__msj {
    width: 100%;
}

.out-text__result--p2 {
    padding: 10px 32px 20px 32px;
    text-align: left;
    /* background: yellow; */
    color: var(--color-grisOscuro-letra);
    font-size: 24px;
    font-family: var(--font-inter);
    line-height: 150%;
}

/* -> footer ***************************************/
footer {
    padding: 0;
    margin: 0;
    background: var(--color-blanco-fondo);
    width: 100%;
    height: 8.2%;
}

.footer__container {
    background: var(--color-blanco-puro);
    background: var(--color-grisClaro-letra);

    width: 91.47%;
    height: 50%;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 20px 20px 0 0;
}

.footer__container span {
    display: block;
    padding-bottom: 3px;
    font-size: 1.4rem;
    color: var(--color-blanco-puro);
    text-align: center;
}

.footer__container a {
    color: var(--color-blanco-puro);
    text-decoration: none;
    font-weight: bold;
}





/* ->  page styles  tablet - V  *************************************/
@media (min-width: 768px) {

    /* -> main ***************************************/
    main {
        /* background: rgb(206, 238, 130); */
        width: 90%;
        padding: 50px 40px 60px 40px;
        height: 90.63%;
    }

    .out-text {
        padding-top: 80px;
    }

    .out-text__result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }


    .controls-btns {
        display: flex;
        justify-content: space-between;
    }

    .controls-btns__btn {
        width: 48%;
        margin-top: 0;
        cursor: pointer;
    }

    .controls-btns__btn:hover {
        transform: scale(1.05);
        font-weight: bold;
    }

    #div-btn--copy {
        min-width: 90.74%;
        padding: 32px;
    }

    .controls-btns__btn--copy {
        margin: 0;
        width: 100%;
    }

    .out-text__result--p1 {
        /* display: none; */
    }

    .out-text__result--p2 {
        display: block;
        padding: 10px 32px 20px 32px;
        line-height: 150%;
        text-align: left;
        /* background: rgb(85, 85, 66); */
        color: var(--color-grisOscuro-letra);
        font-size: 32px;
        font-family: var(--font-inter);
    }
}

/* ->  page styles  desktop *************************************/
@media (min-width: 1024px) {

    /* -> main ***************************************/
    main {
        /* background: red; */
        width: 100%;
        padding: 0;
    }

    .container {
        width: 82%;
        height: 90vh;
        /* height: 100%; */
        /* background: gray; */
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }


    .in-text,
    .out-text {
        /* outline: solid 1px red; */
        height: 82%;
        padding: 80px 0 0 0;
        margin: 0;

    }


    .in-text {
        width: 52%;

    }


    .in-text__logo {
        position: absolute;
        top: 40px;
        left: 60px;
    }

    .in-text form {
        margin: 0;
        height: 100%;
    }



    .in-text__textarea {
        padding-top: 80px;
    }

    .in-text__controls,
    #div-btn-copy {
        width: 100%;
        margin-bottom: 40px;
        vertical-align: bottom;
        min-height: 107px;
    }

    #div-btn-copy {
        padding: 0 32px;
        width: 86%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .controls-btns__btn--decryptBlue {
        background: var(--color-azul-boton-des);
    }

    .controls-btns__btn--copy {
        margin: 0;
    }

    .out-text {
        width: 39%;
        /* height: 100%; */
        /* background: green; */
    }

    .out-text__result {
        margin-top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img-diamond {
        display: block;

    }

    .result__msj p {
        color: var(--color-grisOscuro-letra);
        font-size: 2.4rem;
        font-family: var(--font-inter);
    }

    .out-text__result--p1 {
        display: block;
        padding: 10px 32px 20px 32px;
        text-align: center;
        color: var(--color-grisOscuro-letra);
        font-size: 32px;
        font-family: var(--font-inter);
        line-height: 150%;
    }


    /* -> footer ***************************************/

    .footer__container {
        width: 82%;
        border-radius: 20px;
        text-align: center;
    }

    .footer__container span {
        letter-spacing: 0.8px;
        padding-left: 10px;
        display: inline-block;
    }

}